.contacts {
  padding-top: 20rem;
  padding-bottom: 4rem;
  color: white;
  position: relative;
  z-index: 1;
}

.contacts-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts-button{
  background-color: white;
  color: #6A4EE0;
  font-weight: 800;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 100px;
}

.contacts-text p{
  font-size: 25px;
}

.phone-number p{
  font-size: 30px;
  font-weight: 600;
}

.phone-number{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}