.header {
  position: relative;
  z-index: 100;
}

.header-nav {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo img {
  display: block;     
  width: 300px;      
  height: auto;       
}

.header-menu {
  display: none;
  align-items: center;
  gap: 2.5rem;
  padding: 0.75rem 3rem;
  border: 2px solid #5D44C4;
  border-radius: 50px;
  position: relative;
}

.header-link {
  color: #D1BCFF;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;
}

.header-link:hover {
  transform: scale(1.07);
}

@media (min-width: 768px) {
  .header-menu {
    display: flex;
  }
}

.header-signin {
  background-color: white;
  color: black;
  padding: 0.7rem 2rem;
  border-radius: 50px;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.header-signin::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: white;
  transition: left 0.4s ease;
  z-index: -1;
}

.header-signin:hover::before {
  left: 0;
}

.header-signin:hover {
  color: #000;
  transform: scale(1.05);
}
