.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; 
  margin: 0;
  position: relative;
  overflow: hidden;
  color: white;
}

.hero::before {  
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;  
  background-image: url('../assets/background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.hero-container {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
  z-index: 2;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 4rem;
  align-items: center;
}

.hero-title {
  font-size: 4.3rem;
  font-weight: 900;
  color: white !important;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.hero-btn.hero-btn-outline {
  border: 5px solid #fff;
  font-size: 30px;
  margin-right: 40px;
  font-weight: 600;
  border-radius: 20px;
  padding: 10px 25px;
}

.hero-btn.hero-btn-solid {
  font-size: 30px;
  border-radius: 20px;
  padding: 13px 25px;
  font-weight: 600;
  background-color: white;
  color: #261A5D;
}
