.footer {
  padding: 4rem 0;
  background: linear-gradient(to top, #9868FF, transparent);
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.logo img{
    width: 350px;
}

.copy {
    text-align: center;
    color: white;
}

.politics{
    margin: 0 auto;
}


.social-icon{
    display: flex;
    width: 100px;
    gap: 10px;
}

.social-icon img{
    transition: all 0.6;
}

.social-icon img:hover{
    transform: scale(1.1);
}