.partners {
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: white;
}

@media (max-width: 768px) {
  .partners {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}


.partners-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.partner-card {
  background: white;
  border-radius: 40px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  aspect-ratio: 1 / 1;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.partner-card:hover {
  transform: translateY(-5px);
}

/* Модалка партнеров */
.partner-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 20px;
}

.partner-modal {
  background: white;
  border-radius: 30px;
  padding: 40px;
  max-width: 700px;
  width: 100%;
  position: relative;
  color: #fff;
  animation: modal-in 0.2s ease;
}

@keyframes modal-in {
  from { opacity: 0; transform: scale(0.95); }
  to   { opacity: 1; transform: scale(1); }
}

.partner-modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  line-height: 1;
  transition: color 0.2s;
}

.partner-modal__close img{
  width: 25px;
}

.partner-modal__close:hover {
  color: #fff;
}

.partner-modal__img-wrap {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 24px;
  display: flex;
  margin: 0;
}

.partner-modal__img-wrap img {
  max-height: 80px;
  max-width: 100%;
}

.partner-modal__name {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 12px;
  color: black;
}

.partner-modal__desc {
  font-size: 1.3rem;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 40px;
  color: black;
}

.partner-modal__site{
  background-color: #2055C7;
  padding: 10px 15px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 20px;
}

.partner-card img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.partner-name {
  font-size: 1.5rem;
  text-align: left;
  color: #434343;
}


@media (max-width: 1200px) {
  .partners-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .partners-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .partners-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
